name: CI

on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master, dev ]

permissions:
  contents: read
  id-token: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential lcov

      - name: Build with coverage flags
        run: |
          cd app
          make all

      - name: Run Unity Tests
        run: |
          cd app
          make test

      - name: Generate coverage report
        run: |
          cd app
          lcov --capture --directory . --output-file build/coverage.info --ignore-errors mismatch
          lcov --remove build/coverage.info '/usr/*' --output-file build/coverage.info
          lcov --list build/coverage.info

      - name: Upload to Qlty
        uses: qltysh/qlty-action/coverage@v1
        with:
          oidc: true
          files: app/build/coverage.info
